<section class="row"  >

  <article class="col offset-5 s12 container">
    <a href="/logout" class="text lighten-2 waves-light btn">Logout</a>
    <br><br>
    <form action="/todo" method="post">

      <!-- <input placeholder="Add todo title" type="text" name="title"> -->

      <div class="input-field col offset-s4 s8">
        <input placeholder="Add todo title" type="text" name="title" id="todo-title" required="required">
        <label for="todo-title">Title</label>
      </div>

      <!-- <input placeholder="Add todo description" id="todo-description" type="text" name="description"> -->

      <div class="input-field col offset-s4 s8">
        <input placeholder="Add todo description" id="todo-description" type="text" name="description">
        <label for="todo-description">Description</label>
      </div>

      <!-- <input type="checkbox" name="private">Make it private</input> -->

      <div class="input-field col offset-s4 s8">
        <input type="checkbox" name="private" id="todo-private">
        <label for="todo-private">Make it private</label>
      </div>

      <!-- <button type="submit" class="waves-effect waves-teal btn-flat">Create</button> -->

      <div class="input-field col offset-s6 s8">
        <button type="submit" class="waves-effect waves-teal btn-flat">Create</button>
      </div>
    </form>
  </article>
  <br><br>

  <article class="col offset-5 s12 container">
    <h2>Todos: </h2>

    <ul id="todo-list" class="collapsible popout" data-collapsible="accordion">
      <% _.each(todos, function(todo){ %>
          <li>

            <div class="collapsible-header"><i class="material-icons"></i><%= todo.title %></div>


            <div class="colllapsible-body">
              <p>
                <%= todo.description %>
              </p>
              <p>
                Author: <a href="/user/<%= todo.user.id %>" class="waves-effect waves-light"><%= todo.user.nickname %></a>
              </p>

              <a href="/detail/<%= todo.id %>" class="waves-effect waves-light btn">Detail</a>
              <form action="/todo/completed/<%= todo.id %>" method="post">
                <button type="submit" class="waves-effect waves-light btn">Completed</button>
              </form>
              <form action="/todo/update/<%= todo.id %>">
                <input type="text" name="title" value="<%= todo.title %>">
                <br><br>
                <input type="text" name="description" value="<%= todo.description %>">
                <br><br>
                <button type="submit" class="waves-effect waves-light btn">Update</button>
              </form>
              <form action="/todo/delete/<%= todo.id %>" method="post">
                <button type="submit" class="waves-effect waves-light btn">Delete</button>
              </form>

            </div>





          </li>

          <!-- <a href="/detail/<%= todo.id %>">Detail</a>

          <form action="/todo/completed/<%= todo.id %>" method="post">
            <button type="submit">Completed</button>
          </form>

          <form action="/todo/update/<%= todo.id %>">
            <input type="text" name="title" value="<%= todo.title %>">
            <br><br>
            <input type="text" name="description" value="<%= todo.description %>">
            <br><br>
            <button type="submit">Update</button>
          </form>
          <form action="/todo/delete/<%= todo.id %>" method="post">
            <button type="submit">Delete</button>
          </form> -->

      <% }) %>
    </ul>

    <button id="load-todos" class="waves-effect waves-light btn">Load more todos</button>
  </article>

</section>
